<template>
    <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-card-title primary-title>
          <div>
            <slot name="jurusan"></slot>
          </div>
        </v-card-title>
        <slot name="mahasiswa"></slot>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
    name: 'Card'
}
</script>
