<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap justify-space-around>
            <v-flex lg:2 v-for="data in dataM" v-bind:key="data.jurusan">
                <Card>
                    <h3 slot="jurusan" class="headline mb-0">{{data.jurusan}}</h3>
                    <v-card-text slot="mahasiswa" v-for="value in data.Mahasiswa" v-bind:key="value">
                        {{value}}
                    </v-card-text>
                </Card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    import Card from './Card';
    export default {
        name: 'Main',
        components: {
            Card
        },
        props: ["dataM"]

    }
</script>