<template>
  <v-app>
    <Nav />
    <Main v-bind:dataM="dataMahasiswa" />
    <Footer />
  </v-app>
</template>

<script>
import Nav from './components/Nav';
import Footer from './components/Footer';
import Main from './components/Main';

  export default {
    name: 'App',
    components: {
      Nav,
      Footer,
      Main
    },
    data() {
      return {
        dataMahasiswa:[
          { 
            jurusan:'Teknik Informatika',
            Mahasiswa:
            [
              "Idris Akbar Adyusman",
              "Adyusman Akbar Idris",
              "Akbar Adyusman Idris"
            ]
          },
          {
            jurusan:'Teknik Industri',
            Mahasiswa:
            [
              "Erik",
              "Kire",
              "Riek",
            ]
          },
          {
            jurusan:'Sistem Informasi',
            Mahasiswa:
            [
              "Made",
              "Meda",
              "Dema",
            ]
          },
          {
            jurusan:'Matematika',
            Mahasiswa:
            [
              "Arian",
              "Naira",
              "Raina",
            ]
          },
          {
            jurusan:'Teknik Elektro',
            Mahasiswa:
            [
              "Tolaal",
              "Laalto",
              "Toalal",
            ]
          }
        ]
      }
    }
  }
</script>